mixin process()
    +b.process
        .container
            +e.inner
                +titleMedium('Development process',null)
                +e.content
                    +e.description from idea to launch
                    +e.items
                        +e.item
                            +e.image-wrapper
                                +e.image(src=require("./../images/lamp.svg"), alt="lamp")
                            +e.item-title(data-numeral="1") Analytics
                            +e.OL.list
                                +e.LI.paragraph We discuss the specifics of your business and it`s strengths
                                +e.LI.paragraph Professionally explore the market and the target audience
                                +e.LI.paragraph Generate ideas for your online resource
                        +e.item
                            +e.image-wrapper
                                +e.image(src=require("./../images/pen.svg"), alt="pen")
                            +e.item-title(data-numeral="2") prototype
                            +e.OL.list
                                +e.LI.paragraph We discuss and agree on the terms of reference
                                +e.LI.paragraph We develop and approve the structure of your site
                                +e.LI.paragraph Correct the elements of the prototype (project site)
                        +e.item
                            +e.image-wrapper
                                +e.image(src=require("./../images/pk.svg"), alt="pk")
                            +e.item-title(data-numeral="3") Design
                            +e.OL.list
                                +e.LI.paragraph We draw mock-ups of all pages of the site taking into account the design trends
                                +e.LI.paragraph We agree with you the concept for the mobile and desktop versions of the site
                                +e.LI.paragraph We make corrections and modifications in accordance to requested changes
                        +e.item
                            +e.image-wrapper
                                +e.image(src=require("./../images/arr.svg"), alt="arr")
                            +e.item-title(data-numeral="4") Nesting
                            +e.OL.list
                                +e.LI.paragraph Create the correct semantic HTML code
                                +e.LI.paragraph We integrate the code with an easy-to-use CMS-platform
                                +e.LI.paragraph Configure the site, install the necessary modules and components
                        +e.item
                            +e.image-wrapper
                                +e.image(src=require("./../images/test.svg"), alt="test")
                            +e.item-title(data-numeral="5") Testing
                            +e.OL.list
                                +e.LI.paragraph We test the working capacity of the entire site
                                +e.LI.paragraph We check the visual of the display on all devices and browsers
                                +e.LI.paragraph Launch your stylish, convenient and functional website
                        +e.item
                            +e.image-wrapper
                                +e.image(src=require("./../images/sup.svg"), alt="sup")
                            +e.item-title(data-numeral="6") Support
                            +e.OL.list
                                +e.LI.paragraph We check the visuals of the site
                                +e.LI.paragraph Install the necessary technical updates
                                +e.LI.paragraph We advise and provide technical support







