mixin portfolio-image()
    .portfolio-image
        .container
            .portfolio-image__wrapper
                .portfolio-image__notebook
                    img.portfolio-image__notebook-image(src=require('./../images/pk.png'))
                    img.portfolio-image__addition-image(src=require('./../images/forest.png'))
                    .portfolio-image__main-notebook
                        img.portfolio-image__main-notebook-image(src=require('./../images/main-notebook.png'))
                    .portfolio-image__phone
                        img.portfolio-image__phone-image(src=require('./../images/iphone-kg.png'))
                        .portfolio-image__main-iphone
                            img.portfolio-image__main-iphone-image(src=require('./../images/main-iphone.png'))
                    img.portfolio-image__shadow(src=require('./../images/shadow.svg'))
            img.portfolio-image_full(src=require('./../images/prosushi.jpg'))

