mixin homeWeb()
    +b.homeWeb
        .container
            +e.inner
                +titleMedium("graphic Design")
                +e.P.inner-title from idea to launch
                +e.P.inner-text What we design is a direct reflection of your brand: our aim for each experience to be purposely built and engaging. From logo development, packaging, environmental design, annual reports to national campaigns – our focus is to ensure the audience is listening. By defining a brand’s graphic vision, we craft innovative visual stories that attract the target audience and create long term success.
                +e.SPAN.inner-preview What we do:
                +e.inner-items
                    +e.inner-items-content
                        +e.inner-items-content-image
                            +e.SPAN.inner-items-content-image-number 1
                            +e.inner-items-content-image-container
                                +e.inner-items-content-image-item(src=require("./../images/item1.png"), alt='Item')
                        +e.P.inner-items-content-title Advertising Print Design
                        +e.P.inner-items-content-text Magazine and newspaper ads, direct mail ads, posters, and other custom print ad projects.
                    +e.inner-items-content
                        +e.inner-items-content-image
                            +e.SPAN.inner-items-content-image-number 2
                            +e.inner-items-content-image-container
                                +e.inner-items-content-image-item(src=require("./../images/item2.png"), alt='Item')
                        +e.P.inner-items-content-title Publication Design
                        +e.P.inner-items-content-text Magazines, newsletters, business reports, directories and E-books.
                    +e.inner-items-content
                        +e.inner-items-content-image
                            +e.SPAN.inner-items-content-image-number 3
                            +e.inner-items-content-image-container
                                +e.inner-items-content-image-item(src=require("./../images/item3.png"), alt='Item')
                        +e.P.inner-items-content-title Business Print Design
                        +e.P.inner-items-content-text Business cards, brochures, flyers, letterheard, packaging, invitations, posters and stickers for sales, products, events, and more.
                    +e.inner-items-content
                        +e.inner-items-content-image
                            +e.SPAN.inner-items-content-image-number 4
                            +e.inner-items-content-image-container
                                +e.inner-items-content-image-item(src=require("./../images/item4.png"), alt='Item')
                        +e.P.inner-items-content-title Large Format Design
                        +e.P.inner-items-content-text Data or concept visualization, photo infographic, timeline, comparison, flowchart, strategy and more for presentations, web and print.
                    +e.inner-items-content
                        +e.inner-items-content-image
                            +e.SPAN.inner-items-content-image-number 5
                            +e.inner-items-content-image-container
                                +e.inner-items-content-image-item(src=require("./../images/item5.png"), alt='Item')
                        +e.P.inner-items-content-title Illustration Design
                        +e.P.inner-items-content-text Business, education, beauty, science, icons, typography, cartoon, vector, and more for presentations, web and print.
                    +e.inner-items-content
                        +e.inner-items-content-image
                            +e.SPAN.inner-items-content-image-number 6
                            +e.inner-items-content-image-container
                                +e.inner-items-content-image-item(src=require("./../images/item6.png"), alt='Item')
                        +e.P.inner-items-content-title Infographic Design
                        +e.P.inner-items-content-text Data or concept visualization, photo infographic, timeline, comparison, flowchart, strategy and more for presentations, web and print. $35/hr6-12 hours per infographic
                    +e.inner-items-content
                        +e.inner-items-content-image
                            +e.SPAN.inner-items-content-image-number 7
                            +e.inner-items-content-image-container
                                +e.inner-items-content-image-item(src=require("./../images/item7.png"), alt='Item')
                        +e.P.inner-items-content-title Digital Graphics & Banner Ad Design
                        +e.P.inner-items-content-text All sizes and formats for your website, online advertising, social media and mobile, static and dynamic (HTML5).
                    +e.inner-items-content
                        +e.inner-items-content-image
                            +e.SPAN.inner-items-content-image-number 8
                            +e.inner-items-content-image-container
                                +e.inner-items-content-image-item(src=require("./../images/item8.png"), alt='Item')
                        +e.P.inner-items-content-title Other Graphic Design
                        +e.P.inner-items-content-text E-book covers, cards, invitations, menus and more.
                    +e.inner-items-content
                        +e.inner-items-content-image
                            +e.SPAN.inner-items-content-image-number 9
                            +e.inner-items-content-image-container
                                +e.inner-items-content-image-item(src=require("./../images/item9.png"), alt='Item')
                        +e.P.inner-items-content-title Photo Retouching
                        +e.P.inner-items-content-text Advanced editing, enhancements, restoration, slimming, background removal, color replacement, manipulation and more.
                +e.inner-container
                    +e.inner-text-content
                        +e.P.inner-text-title We know print production hands down and are expert at maximizing brand impact when it comes to ink on paper.
                        +e.P.inner-text-preview Count on Mastak’s vast experience in print design to help your brand rise off the printed page in a way you’ve never experienced before; whether we are redesigning your entire suite of marketing collateral or designing a new printed initiative for your business.
                    +e.inner-text-slider
                +e.P.inner-text-end Want your special print design project handled with care? Please fill out the form or call us at  +1 312 874 3507